include *.md *.py
recursive-include benchmark *.md *.py
recursive-exclude dev *
recursive-include docs *.md *.py
recursive-include examples *.md *.py *.png *.obj
recursive-exclude experimental *
recursive-include galry *.md *.py *.png *.fnt
recursive-include galry/test *.md *.py
recursive-exclude galry/test/autosave *.png
recursive-include galry/test/autosave *REF.png
recursive-exclude tools *
recursive-include tutorials *.md *.py *.png *.obj
exclude setup_dev.py
